html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  border-bottom: 1px #ccc solid;
}

main {
  flex: auto;
  background-color: white;
  text-align: center;
  margin: 0 auto;
  max-width: 85%;
  margin-top: 35px;
  margin-bottom: 35px;
}

footer {
  height: 25px;
}

footer p {
  padding: 10px 10px 10px 20px;
  font-style: italic;
  color: #666;
}

footer section {
  border-top: 1px #ccc solid;
  padding: 20px 30px 40px 20px;
  background-color: #1a202c;
}

footer section a {
  color: white;
}

h1 {
  font-size: 32px;
  color: #58ae39;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
}

h2 {
  font-size: 26px;
  color: #666;
  text-transform: uppercase;
  font-weight: 500;
}

h3 {
  font-size: 22px;
  color: #666;
  font-style: italic;
  font-weight: 300;
}
